@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  height: 100%;
}

body {
  @apply bg-gray-100 text-gray-700;
  font-family: "Google Sans", Century Gothic, Sans-Serif, Arial, Helvetica;
}

button {
  position: relative;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0 16px;
  border-radius: 2px;
  height: 32px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14);
}

button i.material-icons {
  position: relative;
  top: 5px;
}

.btn {
  color: white;
  background: dodgerblue;
  /* default */
  font-family: "Google Sans", Century Gothic, Sans-Serif, Arial, Helvetica;
}

.btn-outlined {
  border: 2px solid dodgerblue;
  background: transparent;
  color: dodgerblue;
  border-radius: 3px;
}

.ripple {
  overflow: hidden;
}

.ripple-effect {
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: white;
  animation: ripple-animation 2.5s;
}

@keyframes ripple-animation {
  0% {
    transform: scale(1);
    opacity: 0.4;
  }

  100% {
    transform: scale(100);
    opacity: 0;
  }
}
